@font-face {
    font-family:"Jabin";
    src: url('./fonts/Jabin-Typeface.woff2') format('woff2');
    src: url('./fonts/Jabin-Typeface.ttf') format('truetype');
    font-weight: 0 1000;
    font-display:swap;
}

body{
    font-family: "Jabin", sans-serif;
}
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

h3{
    font-weight:20; 
    text-align: center;
    font-size: 10em;
    animation: weightChange 7s infinite;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    }
    50%{font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
    }
    
}

h2{
 
    font-weight:500 ;
}
p{
    font-weight:500 ;
    line-height: 15px;
    margin: 10px
}

ul{
   font-size:30px
}


.special-character-wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 200px);
    font-size: 160px;
}

.special-character-wrapper div {
    animation: weightChangeSpecialCharacter 6s infinite;
}

.special-character-wrapper div:nth-child(odd) {
    animation-delay: 1s; /* Adjusted delay to stagger properly */
}

.special-character-wrapper div:nth-child(even) {
    animation-delay: 2s; /* Adjusted delay to stagger properly */
}


@keyframes weightChangeSpecialCharacter {
    0%, 100% {
        font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    }
    50% {
        font-variation-settings: "wght" 120, "wdth" 10, "XXXX" 100;
    }
}